button:hover {
cursor: pointer;
}
a{
  color:inherit;
}
.top-section {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(215, 215, 215, 0.7), rgba(0, 0, 0, 0.9)),
  url(../images/fenwaypark.jpg);
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 600;
  padding: 10px 0;
  line-height: normal;
}

.top-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.top-main-content {
  text-align: center;
  width: 100%;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: 600;
  padding: 10px 0;
}

.top-footer {
  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-item {
  color:#8484b3;
  padding: 0 10px;
  font-size: 26px;
}
.about-item{
  color:black;
}

.nav {
  justify-content: center;
  width: 100%;
  padding: 40px 10px;
  color: #860505;
}

.top-main-content-title {
  font-size: 60px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5s steps(40, end),
  blink-caret .15s step-end infinite;
}




/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 500px;
  }
}

/**/


/**/


/**/
.fullpage-section{
	min-height: 662px;
  position: relative;
}


.about-outter-div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.about-left-wrapper {
  width: 50%;
  height: 662px;
}

.about-left-content {
  display: flex;
  height: 662px;
  background-image: linear-gradient(to bottom, rgba(122, 142, 167, 0.5), rgba(122, 142, 167, 0.5)),
  url(../images/port.jpg);
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-left-content > .nav-items{
  color:black;
}

.about-right-wrapper {
  position: relative;
  background: white;
  width: 50%;
  left: 50%;
}

.intro-1 {
  padding-top: 90px;
}

.paragraph {
  padding-left: 90px;
  padding-right: 90px;
}

.header-p {
  font-weight: bold;
}

/**/


/**/


/**/

.work-section {
  background: white;
}

.work-outter-div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.work-left-wrapper {
  height: 662px;
  width: 50%;
}

.work-right-wrapper {
  position: relative;
  background: #f1efef;
  width: 50%;
  left: 50%;
}

.work-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 662px;
  background: black;
}

.work-left-content>h1 {
  color: white;
}
/**/


/**/


/**/
.contact-section {
  background: white;
}

.contact-outter-div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.contact-left-wrapper {
  height: 662px;
  width: 50%;
}

.contact-right-wrapper {
  position: relative;
  background: #f1efef;
  width: 50%;
  left: 50%;
  background-image: linear-gradient(to right, rgba(255,255, 255, 0.5),rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.5)),
  url(../images/contact.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 662px;
}

.contact-left-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 662px;
}
.contact-info{
  width: 100%;
  text-align: center;
}
.contact-info > .contact-header{
  font-size:30px;
}
.contact-left-content>h1 {
  color: black;
}
.contact-phone-email{
  margin-top: 1rem;
  margin-bottom: 0;
}

.apps {
  background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0), rgba(230, 230, 230, 0)),
  url(../images/nextflick.PNG);
  background-size: contain;
  background-size: 80% 80%;
  padding: 30% 5%;
  background-repeat: no-repeat;
  background-position: center;
}

.apps-fire {
  background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0), rgba(230, 230, 230, 0)),
  url(../images/firewall.PNG);
}

.apps-trivia {
  background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0), rgba(230, 230, 230, 0)),
  url(../images/trivia.PNG);
}

.app-title {
  text-align: center;
  font-size: 37px;
  color: black;
  opacity: 0.1;
}



/*underline animation*/

.app-title>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.app-title>a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.app-title>a:hover {
  cursor: pointer;
  color: #000;
}

.app-title>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.app-title:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

/*modal container*/
.modal-style{
	width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  border-radius: 1%;
  background-image: linear-gradient(to right, rgba(0, 0,0 , 1), rgba(220, 220, 220, 0.3), rgba(0, 0, 0, 1));

}
.modal-body{
	top: 12%;
	padding:0 27%;
}
.modal-title{
	font-size: 45px;
	color: #8cff8c;
}
.modal-description{
	color:white;
}
.modal-github,.modal-app{
	font-weight: bold;
	color:white;
	font-size: 25px;
}
.fa{
 font-size: 50px;
 padding:0 5px;
 cursor: pointer;
}
#close-modal{
	background: #8cff8c;
}

/*media queries*/

@media (max-width: 1050px){
  .fullpage-section {
    display: flex;
    flex-wrap: wrap;
  }
  .work-outter-div.tops{
    position: relative !important;
  }
.contact-outter-div.tops{
  position: relative !important;
}

  .tops{
    position: relative;
    width: 100%;
  }
  .left-wrappers{
    width: 100%;
  }
  .right-wrappers{
    width: 100%;
    left: 0;
  }
  .left-content{
    background-position: center;
  }
}
@media (max-width: 620px){
  .paragraph {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-body{
    padding:0 15%;
  }
}
@media (max-width:340px){
  .nav-item{
    padding:0 5px;
  }
  .app-title{
    font-size: 27px;
  }
}